html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
.ivu-modal{
  top: 50%;
  transform: translateY(-65%);
}
.ivu-icon-ios-compose-outline,.ivu-icon-ios-trash-outline{
  font-size: 18px;
}

h3{
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
}

/* placeholder颜色 */
/*input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:    #BBBEC7;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color:    #BBBEC7;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color:    #BBBEC7;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:    #BBBEC7;
}*/

select{
    border-radius: 4px;
}
.page{
    margin-top: 15px;
}
.temp{
    margin-left: 36px;
    margin-right: 28px;
    padding-bottom: 80px;
}
/* 年月日表单 */
.temp2{
    margin-top: 20px;
}
.selectpage{
    margin-top: 20px;
    float: left;
}
.page{
    /* float: right; */
    height: 40px;
    margin-top: 20px
}
.page ul{
    float: right;
}
.content{
    position: relative;
}
.ivu-date-picker{
    width: 160px;
}
